.about-container{
  padding: 50px 5% 50px 5%;
  position: relative;
}
.about-img-container{
  position: relative;
  left: 15%;
  width: 400px;
  border-radius: 2rem;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.about-text{
  width: 40%;
  padding: 3rem;
  border: 2px solid black;
  border-radius: 1.5rem;
  position:relative;
  left: 40%;
  top: -50px;
  text-align: justify;
}